
.line {
  background-color: black;
  height: 4rem;
}

.nav {
  /* background-color: transparent; */
  font-family: Oswald, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  text-wrap: nowrap;
  position: relative;
  top: 0;
  z-index: 9999;
  transition: all .3s ease-in-out;
}

.scrolled {
  background-color: black;
  transition: all .3s ease-in-out;
  position: sticky;
  animation-name: Move_Down;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes Move_Down {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    position: sticky;
    opacity: 1;
  }

}


.scrolled .nav_logo_link {
  line-height: 2rem;
}

.scrolled .logo_up {
  font-size: 2.2rem;
}

.scrolled .logo_down {
  font-size: 1.8rem;
}

.black_background {
  background-color: black;
}

.nav_logo_link {
  display: flex;
  flex-direction: column;
  line-height: 3rem;
  padding: .5rem;
  margin-left: 8%;
}

.logo_up {
  font-weight: 500;
  font-size: 3.2rem;
  letter-spacing: .2rem;
}

.logo_down {
  font-weight: 200;
  font-size: 2.6rem;
  letter-spacing: .1rem;
}

.nav_links_list {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 10%;
}

.nav_links_list_links {
  list-style-type: none;
  padding: 0 1.3rem;
  letter-spacing: .1rem;
}

.nav_links_list_links a {
  font-size: 1.2rem;
  transition: opacity .3s ease;
}

.nav_links_list_links a:hover {
  opacity: .8;
}