.tienda_productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2vw 8vw;
  gap: .8vw;
}

.tienda_productos .product_wrapper {
  display: inline-block;
  width: 100%;
}

.tienda_productos .product_wrapper .product_text {
  margin-block: 1rem;
}


@media(max-width :768px) {

  .tienda_productos {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  .tienda_productos .product_wrapper {
    width: 80%;
  }
}